.landing-case {
   position: relative;
   height: 100vh;
   width: 100vw;
   background: white;
   display: flex;
   align-items: stretch;
   flex-wrap: nowrap;
   gap: 1.5px;
}

.landing-case .item {
   position: relative;
   height: 100%;
   width: 100%;
   background-color: black;
   background-position: center;
   background-size: cover;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}
.landing-case .item::before {
   content: ' ';
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(transparentrgba(0, 0, 0, .8), transparent);
   background: linear-gradient(transparent -5%, rgba(0, 0, 0, .8), transparent 105%);
   /* background: linear-gradient(transparent -5%, red, transparent  105%); */
}
.landing-case .item:hover {
   width: 120%;
}


.landing-case .item .content {
   position: relative;
   height: fit-content;
   min-height: 100px;
   width: fit-content;
   min-width: 100px;
   color: white;
   text-transform: uppercase;
   font-weight: 400;
   font-variant: small-caps;
   display: block;
}
.landing-case .item:hover .content {
   transform: scale(1.3);
}
.landing-case .item .content .icon {
   position: relative;
   margin: auto;
   width: clamp(70px, 10vmin, 180px);
}
.landing-case .item .content .icon ~ p {
   margin: auto;
   margin-top: 15px;
   font-size: 20px;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
   .landing-case {
      flex-direction: column;
      align-items: center;
      height: 100vh;
   }
   
   .landing-case .item:hover {
      height: 130%;
   }   
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}


/*  */
@media (max-height: 600px) {
   .landing-case {
      /* display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: 100%; */
      min-height: 430px;
      background: red;
   }
   
   .landing-case .item {
      height: 130%;
   }   
}